In [ ]:
!pip3 install biopython==1.77

Collecting biopython==1.77
  Downloading https://files.pythonhosted.org/packages/74/68/8d7bb5782a2531138c03f223e23bcec9be980a4a9be30e06351200220caf/biopython-1.77-cp37-cp37m-manylinux1_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 5.1MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from biopython==1.77) (1.19.5)
Installing collected packages: biopython
Successfully installed biopython-1.77

In [ ]:
from Bio import SeqIO
from Bio import Entrez
from Bio.Seq import Seq
from Bio.GenBank.Record import Record
from Bio.SeqRecord import SeqRecord
from Bio.Alphabet import IUPAC
from Bio.SeqFeature import SeqFeature, FeatureLocation
from Bio.Alphabet import generic_dna
from collections import OrderedDict
import pandas as pd
import urllib
import urllib.request
import numpy as np

Задача: аннотировать фрагмент генома бактерии и как можно точнее определить таксон, к которому бактерия принадлежит. 

**Этапы работы**

1) Получаем открытые рамки считывания (ОРС) через Artemis (Create->Mark open reading frames). Выделяем их все и смещаем к старт-кодонам (Edit->Trim selected features->To Any). Переименовываем их и задаем  Edit ->Automatically Create Gene Names (я задал my_orf с шагом 1)

2) загружаем ORF из Artemis в blastp с параметрами:
DataBase: uniprot/swiss-Prot
Organism: Bacteria
Max target sequences: 50
Expect threshold: 0.5
Word size: 6
Matrix: BLOSUM62

Ожидание составило минут 10. 
Далее выгружаем данные в формате HitTable.csv и начинаем анализировать

Ниже мы считываем данные из BLASP,а также результат работы artemis для координат CDS

In [ ]:
#read all data info
names=['query acc.ver',  'identity', 'alignment length','mismatches', 'gap opens', 'q_start', 'q_end','s. start', 's. end', 'evalue', 'bit score', '% positives']
swiss = pd.read_csv('HitTableUprt.csv', names=names, index_col=0,)
fasta_sequences = SeqIO.parse(open('DNA.fasta'),'fasta')
with open('DNA.fasta') as out_file:
    for fasta in fasta_sequences:
        name = fasta.id 
        sequence = str(fasta.seq)
coordinates = pd.DataFrame()
with open('amino_acids.fasta', 'r') as text:
  for line in text:
    if 'my_orf' in line:
      line = line.strip().split(' ')
      cds = line[0][1:]
      line = np.array(line[4].split(':')).astype(int)
      coordinates[cds] = line
     
coordinates.index = ['begin', 'end']
coordinates

       my_orf001  my_orf001c  my_orf003  ...  my_orf101c  my_orf102  my_orf103c
begin         21         368       1573  ...       68384      68681       69465
end         1460         685       1911  ...       68698      69898       69782

[2 rows x 101 columns]

Ниже - фильтр для работы BLASTP. Для него мы задаем порог identity 35% и e-value <0.001

In [ ]:
def good_cds_selection(data_blast): 
  good = pd.DataFrame(columns = data_blast.columns)
  for cds in data_blast.index:
    curr_cds = pd.DataFrame(data_blast.loc[cds])
    if curr_cds.shape[1] == 1:
      curr_cds = curr_cds.T
    if ((curr_cds.loc[:,'identity'].iloc[0] > 35) & (curr_cds.loc[:,'evalue'].iloc[0] < 0.001)):
        good.loc[cds] = list(curr_cds.iloc[0])
  return good
good_cds = good_cds_selection(swiss)

In [ ]:
good_cds

           query acc.ver  identity  ... bit score % positives
my_orf005       P96608.1    53.439  ...     424.0       70.63
my_orf007       P96683.1    44.643  ...     201.0       68.30
my_orf009       B5F9Z0.1    38.462  ...     148.0       58.65
my_orf011       P41027.1    52.795  ...     180.0       72.05
my_orf013       O07541.1    40.000  ...      83.2       55.83
my_orf015       P42968.4    52.653  ...     270.0       71.84
my_orf016       P60495.1    47.111  ...     226.0       69.78
my_orf017       Q7WY77.2    48.624  ...     313.0       67.89
my_orf018       Q81BT0.1    89.723  ...     478.0       94.07
my_orf025       B7JDC3.1    93.953  ...     417.0       97.67
my_orf026       Q81BT4.1    94.694  ...     485.0       97.14
my_orf027       P54488.1    49.648  ...     675.0       68.78
my_orf029       P37943.1    41.071  ...     135.0       63.10
my_orf030c      A1KMV3.1    39.535  ...     115.0       61.63
my_orf034       P42301.1    40.000  ...     132.0       56.36
my_orf035c      O07541.1    37.097  ...     144.0       54.03
my_orf038c      P25737.5    62.994  ...     632.0       79.42
my_orf041c      O34430.1    62.021  ...     351.0       77.35
my_orf050       O31431.2    60.559  ...     432.0       81.06
my_orf051       O31432.1    73.543  ...     340.0       86.10
my_orf052       O31433.1    63.208  ...     398.0       81.13
my_orf053       P96728.2    65.000  ...     127.0       76.00
my_orf054c      Q639P8.1    97.945  ...     297.0       98.63
my_orf057c      P96681.1    37.554  ...     315.0       61.37
my_orf063       P54562.1    49.359  ...     164.0       62.82
my_orf064       Q52620.1    35.165  ...      70.5       60.44
my_orf074c      P78271.1    50.725  ...      68.9       66.67
my_orf078c      Q46306.1    45.776  ...     584.0       66.36
my_orf081       P96708.1    53.957  ...     151.0       73.38
my_orf082       P96707.1    70.192  ...     306.0       81.73
my_orf083       P94425.1    45.455  ...      93.2       65.91
my_orf085       Q813X6.1    72.558  ...     327.0       84.19
my_orf089       P94474.2    46.557  ...     295.0       69.84
my_orf094       P15555.2    35.860  ...     220.0       57.14
my_orf095       Q81BX6.1    90.153  ...    1126.0       95.59
my_orf096c      Q39X01.1    39.062  ...      38.9       54.69
my_orf098       Q899Y1.1    47.297  ...     774.0       66.58
my_orf100c      P26901.5    40.047  ...     312.0       57.38
my_orf102       Q8R7C1.1    38.421  ...     278.0       60.00

[39 rows x 12 columns]

Для всех хороших находок удаляем пересекающиеся с ними CDS с приоритетом по identity. Также необходимо было учесть tRNA из tRNA-scan и/или Aragorn, но оба тула ничего не нашли (файлы прилагаю)

In [ ]:
def intersect(st1, end1, st2, end2):
      r = ((st1 <= end2) & (end1 >= end2))
      l = ((end1 >= st2) & (st1 <= st2))
      return (r | l)

print(intersect(5, 10, 7,8)) #must be true
print(intersect(5, 10, 2,8)) #must be true
print(intersect(5, 10, 8, 13)) #must be true
print(intersect(5, 10, 100, 200))#must be false
print('________________________________________')

def parse_intersections(findings, coord): 
  all_cds, good = list(findings.index), []
  findings = findings.sort_values(by='identity', ascending=False)
  coord = coord.T.loc[findings.index]
  while len(all_cds) != 2:
     curr_cds = all_cds[0]
     all_cds.remove(curr_cds)
     good.append(curr_cds)
     for cds in all_cds:
       if intersect(coord.loc[curr_cds, 'begin'], coord.loc[curr_cds, 'end'],
                    coord.loc[cds, 'begin'], coord.loc[cds, 'end']):
         all_cds.remove(cds)
  return good
unitersected = parse_intersections(good_cds, coordinates)
coordinates.T.loc[unitersected].shape

True
True
True
False
________________________________________

(34, 2)

Участки между CDS заносим в отдельный файл для BLASTN и запоминаем для них координаты

In [ ]:
agtc_fa, name_fa = [],  []
good = coordinates.T.loc[unitersected]
spaces_coord = pd.DataFrame()
for cds in range(len(unitersected)-1):
  agtc_fa.append(sequence[good.iloc[cds, 1]:good.iloc[cds+1, 0]])
  name_fa.append('seq'+str(cds))
  spaces_coord['seq'+str(cds)] = [coordinates.T.loc[unitersected].iloc[cds, 1], coordinates.T.loc[unitersected].iloc[cds+1, 0]]
ofile = open("seq_nucl_spaces.fasta", "w")
spaces_coord = spaces_coord.T
spaces_coord.columns = ['begin', 'end']
for i in range(len(agtc_fa)):#
      ofile.write(">" + name_fa[i] + "\n" +agtc_fa[i] + "\n")
ofile.close()

Результат для BLASTN пропускаем через фильтр по identity и e-value. Так как мы получаем выравнивание и не имеем информации о том, где на самом деле лежит начало важного учатска и его конец, то необходимо учесть координаты выравнивания (и следить за тем, чтобы ничего не пересеклось)

In [ ]:
names=[' ', 'query acc.ver',  'identity', 'alignment length','mismatches', 'gap opens', 'q_start', 'q_end','s. start', 's. end', 'evalue', 'bit score']
blastn = pd.read_csv('blastn.csv', index_col=0, names=names)
blastn = good_cds_selection(blastn)
blastn = blastn.drop('seq0') #много мисматчей и вообще вызывает подозрения
for x in blastn.index:
  blastn.loc[x, 'q_start'] += spaces_coord.loc[x, 'begin'] 
  blastn.loc[x, 'q_end'] += spaces_coord.loc[x, 'begin'] 

temp = blastn.loc[:,['q_start',	'q_end']]
temp.columns = ['begin', 'end']
all_coordinates = pd.concat([coordinates.T.loc[unitersected], temp]).sort_values(by='begin')
annotation_of_cds = pd.concat([blastn, good_cds.loc[unitersected]])

для orf с низким identity попробуем запустить interPro (ниже указаны только те, для которых было что-то найдено, для остальных None predicted)

In [ ]:
intrtPro_result = {'my_orf064': 'Transcription regulator HTH, AraC- type (IPR020449)',
                   'my_orf009': 'Copper homeostasis protein CutC (IPR005627)',
                   'my_orf029': 'Peptidase S26A, signal peptidase I (IPR000223)',
                   'my_orf011': 'Peptidase S26A, signal peptidase I (IPR000223)'}

Создаем аннотацию

In [ ]:
sequence_object = Seq(sequence, generic_dna)
record = SeqRecord(sequence_object, id=' ', name='Example',annotations={"molecule_type": "DNA", "organism": "Bacillus subtilis"},description='bacteria Bacillus subtilis')
for cds in all_coordinates.index:
  print(cds)
  if 'c' in cds:
        strand = -1
  else:
        strand = 1
  info = (str(annotation_of_cds.loc[cds,'identity']) + ', ' +'e-value: ' + str(annotation_of_cds.loc[cds,'evalue']) + ', ' + '% positives: ' + str(annotation_of_cds.loc[cds,'% positives']))
  if  cds[:3] == 'seq':
    handle = Entrez.efetch(db="nucleotide", id=annotation_of_cds.loc[cds, 'query acc.ver'], rettype="gb", retmode="text")
    for seq_record in SeqIO.parse(handle, "gb"):
      info = (seq_record.annotations['organism'] + " " + info)
    qualifier=OrderedDict([('gene',[annotation_of_cds.loc[cds, 'query acc.ver']]),('product',[seq_record.description]),('note',[info])])
    feature = SeqFeature(FeatureLocation(start=int(all_coordinates.loc[cds, 'begin']),end=int(all_coordinates.loc[cds, 'end']), strand=strand), type="CDS",qualifiers=qualifier)
    record.features.append(feature)
  elif cds in intrtPro_result.keys():
    with urllib.request.urlopen('http://www.uniprot.org/uniprot/'+ annotation_of_cds.loc[cds, 'query acc.ver'] + '.xml') as url:
        link_info = SeqIO.read(url, "uniprot-xml")
    qualifier=OrderedDict([('gene',[intrtPro_result[cds]]),('product',[link_info.description]),('note',[info+'interPRO result']),('translation', [link_info.seq])])
    feature = SeqFeature(FeatureLocation(start=int(all_coordinates.loc[cds, 'begin']),end=int(all_coordinates.loc[cds, 'end']), strand=strand), type="CDS",qualifiers=qualifier)
    record.features.append(feature)
    print('iPro')


  else: 
      with urllib.request.urlopen('http://www.uniprot.org/uniprot/'+ annotation_of_cds.loc[cds, 'query acc.ver'] + '.xml') as url:
        link_info = SeqIO.read(url, "uniprot-xml")
      if 'organism' in link_info.annotations:
        info += link_info.annotations['organism']
      if 'gene_name_primary' in link_info.annotations:
        qualifier=OrderedDict([('gene',[link_info.annotations['gene_name_primary']]),('product',[link_info.description]),('note',[info]),('translation', [link_info.seq])])
      else: 
        qualifier=OrderedDict([('gene',[link_info.description]),('product',[link_info.description]),('note',[info]),('translation', [link_info.seq])])

      feature = SeqFeature(FeatureLocation(start=int(all_coordinates.loc[cds, 'begin']),end=int(all_coordinates.loc[cds, 'end']), strand=strand), type="CDS",qualifiers=qualifier)
      record.features.append(feature)
 
with open('Nartsev_annot.gb', 'w') as output_file:
  SeqIO.write(record, output_file, 'genbank')

my_orf005
my_orf009
iPro
my_orf011
iPro
seq3

/usr/local/lib/python3.7/dist-packages/Bio/Entrez/__init__.py:668: UserWarning:
Email address is not specified.

To make use of NCBI's E-utilities, NCBI requires you to specify your
email address with each request.  As an example, if your email address
is A.N.Other@example.com, you can specify it as follows:
   from Bio import Entrez
   Entrez.email = 'A.N.Other@example.com'
In case of excessive usage of the E-utilities, NCBI will attempt to contact
a user at the email address provided before blocking access to the
E-utilities.
  UserWarning,

my_orf013
seq4
my_orf015
my_orf016
seq6
my_orf018
seq7
my_orf025
seq8
my_orf026
seq9
my_orf027
my_orf029
iPro
seq11
my_orf030c
seq12
my_orf034
seq13
my_orf035c
seq14
my_orf038c
seq15
my_orf041c
my_orf007
seq16
my_orf050
seq17
my_orf051
seq18
my_orf053
seq19
my_orf054c
seq20
my_orf057c
seq21
my_orf063
seq22
my_orf064
iPro
seq23
my_orf074c
seq24
my_orf078c
seq25
my_orf081
my_orf082
my_orf083
seq28
my_orf085
seq29
my_orf089
seq30
my_orf094
seq31
my_orf095
seq32
my_orf098

Считываем информацию из RAST

In [ ]:
rast_cds = pd.DataFrame()
with open ('rast.txt') as text:
  for i, line in enumerate(text):
    line = line.split('	')[1][3:]
    coord_gene = np.array(line.split('_')).astype(int)
    if coord_gene[0] > coord_gene[1]:
      coord_gene[0], coord_gene[1] = coord_gene[1], coord_gene[0]
      rast_cds[i] = coord_gene[0], coord_gene[1]
    else:
      rast_cds[i] = coord_gene[0], coord_gene[1]

rast_cds = rast_cds.T
rast_cds.index = range(len(rast_cds.index))

In [ ]:
rast_cds

        0      1
0      21   1460
1    1573   1911
2    1979   2092
3    2391   3050
4    3289   4437
..    ...    ...
73  61268  63022
74  63136  63648
75  64152  66788
76  67012  68391
77  68681  69898

[78 rows x 2 columns]

Вспомогательная функция для подсчета IoU (в числитель идет пересечение)

In [ ]:
def covering(st1, end1, st2, end2):
  if st1 > end1:
    st1, end1 = end1, st1
  if st2 > end2:
    st2, end2 = end2, st2
  if (st1 < st2) and (end2 > end1):
    overlap = end1 - st2
  elif (st2>st1) and (end1>end2):
    overlap = end2-st2
  elif (st2<st1) and (end1>end2):
    overlap = end2 - st1
  else:
    overlap = end1 - st1
  if overlap < 0:
    return 0
  else:
    return overlap+1 

covering(1,10,5,7) #for test
covering(2,10,1,100)#for test
covering(4,7,6,2)#for test
covering(4,7,6,2)#for test
covering(10,15,12,17)#for test
covering(10, 100, 200,300)#for test
covering(1, 10, 1, 10)#for test

10

Считаем IoU (поделить сумму длин пересекающихся участков на сумму объединения по всем генам)

In [ ]:
inter = []
denominator = []
s = 0
for i in rast_cds.index:
  maximum = 0
  for k in range(len(all_coordinates.index)): 
    value = covering(rast_cds.iloc[i,0], rast_cds.iloc[i,1],
                 all_coordinates.iloc[k,0], all_coordinates.iloc[k,1])
    if value > maximum:
      maximum = value
      s = k
  denominator.append( (rast_cds.iloc[i,1] - rast_cds.iloc[i,0]) + (all_coordinates.iloc[s,1] - all_coordinates.iloc[s,0]) - maximum)
  inter.append( maximum)

In [ ]:
iou = sum(inter)/sum(denominator)
iou

0.40335619237930875

Посчитаем, сколько совпало позиций начала и конца:

In [ ]:
st = 0
for i in rast_cds.index:
   for k in range(len(all_coordinates.index)):
     if rast_cds.iloc[i,0] == all_coordinates.iloc[k,0]:
       st+=1
end = 0
for i in rast_cds.index:
   for k in range(len(all_coordinates.index)):
     if rast_cds.iloc[i,1] == all_coordinates.iloc[k,1]:
       end+=1

st - сколько совпало начальных позиций
end - сколько совпало конечных позиций

In [ ]:
st, end

(25, 28)

Ниже аналогичный рассчет для Prokka

In [ ]:
prokka = {}
i=0
with open ('Galaxy108-_Prokka_on_data_100_tbl (1).txt') as text:
  for line in text:
    if 'CDS' in line:
      line = line.split('	')
      prokka[i] = [int(x) for x in line[:2]]
      i+=1
prokka = pd.DataFrame(prokka).T

In [ ]:
inter = []
denominator = []
s = 0
for i in prokka.index:
  maximum = 0
  for k in range(len(all_coordinates.index)): 
    value = covering(prokka.iloc[i,0], prokka.iloc[i,1],
                 all_coordinates.iloc[k,0], all_coordinates.iloc[k,1])
    if value > maximum:
      maximum = value
      s = k
  denominator.append( (prokka.iloc[i,1] - prokka.iloc[i,0]) + (all_coordinates.iloc[s,1] - all_coordinates.iloc[s,0]) - maximum)
  inter.append( maximum)

In [ ]:
iou = sum(inter)/sum(denominator)
iou

0.5176267853144197

посмотрим на количество совпадающих позиций

In [ ]:
st = 0
for i in prokka.index:
   for k in range(len(all_coordinates.index)):
     if prokka.iloc[i,0] == all_coordinates.iloc[k,0]:
       st+=1
end = 0
for i in prokka.index:
   for k in range(len(all_coordinates.index)):
     if prokka.iloc[i,1] == all_coordinates.iloc[k,1]:
       end+=1

In [ ]:
st, end

(17, 33)

Вывод: 
Организм - Bacillus subtilis. Количество хороших находок в результате работы blast - 30. Еще 4 находки были уточнены с помощью InterPro. 

Наибольшее совпадение по по проаннотированным участкам с аннотацией с результатом работы Prokka

In [ ]:
prokka_fuc = []
with open ('Galaxy108-_Prokka_on_data_100_tbl (1).txt') as text:
  for line in text:
    if (('product' in line) and ('hypothetical' not in line)):
      line = line.strip().split('	')
      prokka_fuc.append(line[1])
print(len(prokka_fuc))
prokka_fuc

33

['Putative acyl-CoA dehydrogenase YdbM',
 'Copper homeostasis protein CutC',
 'Signal peptidase IB',
 'HTH-type transcriptional regulator KipR',
 '5-oxoprolinase subunit B',
 '5-oxoprolinase subunit C',
 '5-oxoprolinase subunit A',
 'Pyrrolidone-carboxylate peptidase',
 'NAD-dependent protein deacetylase',
 'Penicillin-binding protein H',
 'Signal peptidase I P',
 'Rhamnosyl O-methyltransferase',
 '8-oxo-dGTP diphosphatase',
 'putative protein YhaZ',
 'Lysine-specific permease',
 'Uridine kinase',
 'Transcriptional activator protein CopR',
 'Adaptive-response sensory-kinase SasA',
 'HTH-type transcriptional regulator NorG',
 'putative amino-acid metabolite efflux pump',
 'putative protein YqjY',
 'DNA gyrase inhibitor',
 'RNA pyrophosphohydrolase',
 'Tetracycline resistance protein TetO',
 'Transcriptional regulator SlyA',
 'Putative NAD(P)H nitroreductase YodC',
 'Putative monooxygenase YcnE',
 'ATPase RavA',
 'IS4 family transposase MICBce1',
 'Putative adenine deaminase YerA',
 'Collagenase ColT',
 'Vegetative catalase',
 'Acetylornithine aminotransferase']

In [ ]:
rast_fuc = []
with open ('rast.txt') as text:
  for i, line in enumerate(text):
    print(line)
    line = line.strip().split('	')[2]
    if 'hypothetical' not in line:
     rast_fuc.append(line)
print(len(set(set(rast_fuc))))
set(rast_fuc)

fig|2116814.3352.peg.1	14_21_1460	Predicted histidine uptake transporter

fig|2116814.3352.peg.2	14_1573_1911	acetyltransferase, GNAT family

fig|2116814.3352.peg.3	14_1979_2092	acetyltransferase, GNAT family

fig|2116814.3352.peg.4	14_2391_3050	EpiH/GdmH-related protein

fig|2116814.3352.peg.5	14_3289_4437	Butyryl-CoA dehydrogenase (EC 1.3.99.2)

fig|2116814.3352.peg.6	14_5138_4668	FIG01226774: hypothetical protein

fig|2116814.3352.peg.7	14_5208_5915	Transcriptional regulator, ArsR family

fig|2116814.3352.peg.8	14_6348_6803	Glyoxalase family protein

fig|2116814.3352.peg.9	14_7555_8232	Cytoplasmic copper homeostasis protein cutC

fig|2116814.3352.peg.10	14_8256_8807	Signal peptidase I (EC 3.4.21.89)

fig|2116814.3352.peg.11	14_8961_9794	DNA alkylation repair enzyme

fig|2116814.3352.peg.12	14_10124_10237	hypothetical protein

fig|2116814.3352.peg.13	14_10239_10991	Transcriptional regulator, IclR family

fig|2116814.3352.peg.14	14_11006_11719	Allophanate hydrolase 2 subunit 1 (EC 3.5.1.54)

fig|2116814.3352.peg.15	14_11710_12699	Allophanate hydrolase 2 subunit 2 (EC 3.5.1.54)

fig|2116814.3352.peg.16	14_12718_13479	Lactam utilization protein LamB

fig|2116814.3352.peg.17	14_13502_14197	FIG015373: Membrane protein

fig|2116814.3352.peg.18	14_14199_15161	FIG001614: Membrane protein

fig|2116814.3352.peg.19	14_15177_15824	Pyrrolidone-carboxylate peptidase (EC 3.4.19.3)

fig|2116814.3352.peg.20	14_15900_16625	NAD-dependent protein deacetylase of SIR2 family

fig|2116814.3352.peg.21	14_16798_16926	hypothetical protein

fig|2116814.3352.peg.22	14_16981_19152	Penicillin-binding protein

fig|2116814.3352.peg.23	14_19221_19748	Signal peptidase I (EC 3.4.21.89)

fig|2116814.3352.peg.24	14_20295_19783	Cephalosporin hydroxylase

fig|2116814.3352.peg.25	14_20617_20480	hypothetical protein

fig|2116814.3352.peg.26	14_20574_21116	MutT/nudix family protein

fig|2116814.3352.peg.27	14_22055_21294	Methyltransferase (EC 2.1.1.-)

fig|2116814.3352.peg.28	14_22253_22744	FIG01227518: hypothetical protein

fig|2116814.3352.peg.29	14_23595_22825	DNA alkylation repair enzyme

fig|2116814.3352.peg.30	14_23934_23629	FIG01226264: hypothetical protein

fig|2116814.3352.peg.31	14_25513_24047	Lysine-specific permease

fig|2116814.3352.peg.32	14_25737_25615	hypothetical protein

fig|2116814.3352.peg.33	14_26205_26654	acetyltransferase, GNAT family

fig|2116814.3352.peg.34	14_27714_26695	membrane protein, putative

fig|2116814.3352.peg.35	14_27805_28605	FIG01225599: hypothetical protein

fig|2116814.3352.peg.36	14_28616_29554	Aminoglycoside phosphotransferase

fig|2116814.3352.peg.37	14_29568_30311	Serine/threonine protein phosphatase (EC 3.1.3.16)

fig|2116814.3352.peg.38	14_30435_31106	Uridine kinase (EC 2.7.1.48)

fig|2116814.3352.peg.39	14_31236_32060	FIG01226434: hypothetical protein

fig|2116814.3352.peg.40	14_32166_33152	FIG01229779: hypothetical protein

fig|2116814.3352.peg.41	14_33189_33860	Two-component response regulator ybdJ

fig|2116814.3352.peg.42	14_34019_34852	sensor histidine kinase, putative

fig|2116814.3352.peg.43	14_34915_35229	FIG01229360: hypothetical protein

fig|2116814.3352.peg.44	14_35756_35316	EMG2 protein

fig|2116814.3352.peg.45	14_36135_36728	FIG01227809: hypothetical protein

fig|2116814.3352.peg.46	14_38474_37032	Transcriptional regulator, GntR family domain / Aspartate aminotransferase (EC 2.6.1.1)

fig|2116814.3352.peg.47	14_38599_39510	Permease of the drug/metabolite transporter (DMT) superfamily

fig|2116814.3352.peg.48	14_39996_39529	mutT/nudix family protein

fig|2116814.3352.peg.49	14_40093_40494	FIG01227096: hypothetical protein

fig|2116814.3352.peg.50	14_40512_40982	acetyltransferase, GNAT family

fig|2116814.3352.peg.51	14_41030_41920	hypothetical protein

fig|2116814.3352.peg.52	14_41941_42885	6-aminohexanoate-dimer hydrolase (EC 3.5.1.46)

fig|2116814.3352.peg.53	14_43704_43069	CAAX amino terminal protease family family

fig|2116814.3352.peg.54	14_43994_45019	conserved domain protein

fig|2116814.3352.peg.55	14_45050_45586	FIG01232871: hypothetical protein

fig|2116814.3352.peg.56	14_45618_46049	FIG01231004: hypothetical protein

fig|2116814.3352.peg.57	14_46902_46111	FIG01225478: hypothetical protein

fig|2116814.3352.peg.58	14_47099_47566	Nudix dNTPase DR1776 (EC 3.6.1.-)

fig|2116814.3352.peg.59	14_47587_48231	FIG01227107: hypothetical protein

fig|2116814.3352.peg.60	14_50222_48279	Ribosome protection-type tetracycline resistance related proteins

fig|2116814.3352.peg.61	14_50487_50915	Transcriptional regulator, MarR family

fig|2116814.3352.peg.62	14_50934_51572	Oxygen-insensitive NAD(P)H nitroreductase (EC 1.-.-.-) / Dihydropteridine reductase (EC 1.5.1.34)

fig|2116814.3352.peg.63	14_51619_51912	FIG01225137: hypothetical protein

fig|2116814.3352.peg.64	14_52126_52401	FIG01231425: hypothetical protein

fig|2116814.3352.peg.65	14_52442_52804	FIG01230914: hypothetical protein

fig|2116814.3352.peg.66	14_52801_54435	Lmo0066 homolog within ESAT-6 gene cluster, similarity to ADP-ribosylating toxins

fig|2116814.3352.peg.67	14_54463_55710	FIG01230945: hypothetical protein

fig|2116814.3352.peg.68	14_56012_56944	ATPase, AAA family

fig|2116814.3352.peg.69	14_56941_58050	FIG01226901: hypothetical protein

fig|2116814.3352.peg.70	14_58066_58797	FIG01225647: hypothetical protein

fig|2116814.3352.peg.71	14_59606_58962	FIG01250685: hypothetical protein

fig|2116814.3352.peg.72	14_59745_60911	D-alanyl-D-alanine carboxypeptidase (EC 3.4.16.4)

fig|2116814.3352.peg.73	14_60964_61119	FIG01249153: hypothetical protein

fig|2116814.3352.peg.74	14_61268_63022	Adenine deaminase (EC 3.5.4.2)

fig|2116814.3352.peg.75	14_63136_63648	FIG01226544: hypothetical protein

fig|2116814.3352.peg.76	14_64152_66788	Microbial collagenase (EC 3.4.24.3)

fig|2116814.3352.peg.77	14_68391_67012	Catalase (EC 1.11.1.6)

fig|2116814.3352.peg.78	14_68681_69898	Succinylornithine transaminase, putative

46

{'6-aminohexanoate-dimer hydrolase (EC 3.5.1.46)',
 'ATPase, AAA family',
 'Adenine deaminase (EC 3.5.4.2)',
 'Allophanate hydrolase 2 subunit 1 (EC 3.5.1.54)',
 'Allophanate hydrolase 2 subunit 2 (EC 3.5.1.54)',
 'Aminoglycoside phosphotransferase',
 'Butyryl-CoA dehydrogenase (EC 1.3.99.2)',
 'CAAX amino terminal protease family family',
 'Catalase (EC 1.11.1.6)',
 'Cephalosporin hydroxylase',
 'Cytoplasmic copper homeostasis protein cutC',
 'D-alanyl-D-alanine carboxypeptidase (EC 3.4.16.4)',
 'DNA alkylation repair enzyme',
 'EMG2 protein',
 'EpiH/GdmH-related protein',
 'FIG001614: Membrane protein',
 'FIG015373: Membrane protein',
 'Glyoxalase family protein',
 'Lactam utilization protein LamB',
 'Lmo0066 homolog within ESAT-6 gene cluster, similarity to ADP-ribosylating toxins',
 'Lysine-specific permease',
 'Methyltransferase (EC 2.1.1.-)',
 'Microbial collagenase (EC 3.4.24.3)',
 'MutT/nudix family protein',
 'NAD-dependent protein deacetylase of SIR2 family',
 'Nudix dNTPase DR1776 (EC 3.6.1.-)',
 'Oxygen-insensitive NAD(P)H nitroreductase (EC 1.-.-.-) / Dihydropteridine reductase (EC 1.5.1.34)',
 'Penicillin-binding protein',
 'Permease of the drug/metabolite transporter (DMT) superfamily',
 'Predicted histidine uptake transporter',
 'Pyrrolidone-carboxylate peptidase (EC 3.4.19.3)',
 'Ribosome protection-type tetracycline resistance related proteins',
 'Serine/threonine protein phosphatase (EC 3.1.3.16)',
 'Signal peptidase I (EC 3.4.21.89)',
 'Succinylornithine transaminase, putative',
 'Transcriptional regulator, ArsR family',
 'Transcriptional regulator, GntR family domain / Aspartate aminotransferase (EC 2.6.1.1)',
 'Transcriptional regulator, IclR family',
 'Transcriptional regulator, MarR family',
 'Two-component response regulator ybdJ',
 'Uridine kinase (EC 2.7.1.48)',
 'acetyltransferase, GNAT family',
 'conserved domain protein',
 'membrane protein, putative',
 'mutT/nudix family protein',
 'sensor histidine kinase, putative'}

In [ ]:
all_coordinates.shape

(60, 2)

Статистика по RAST (далее в анализ не входили hypothetical proteins): точные функции установлены для 46 генов
Статистика по PROKKA (далее в анализ не входили hypothetical proteins):точные функции установлены для 33 генов
Статистика по аннотации: проаннотировано 60 участков 

Сравнение между prokka и аннотацией: 25 из 33 генов из prokka совпали по своей функции с аннотацией. То есть 8 функций генов нашлись в prokka (соответственно в моей аннотации 60-25 = 35)

Сравнение между rast и аннотацией: совпадения по точным функциям - 7 из 46 (по rast). На самом деле данный анализ проводить сложнее, так как rast не выдавал gene name primary и тогда приходилось смотреть и сравнивать сначала с prokka (вдруг там есть совпадение и оттуда можно сразу получить gene name primary, а это упрощает поиск). Но оказалось, что и RAST с PROKKA между собой не сильно похожи (либо запись функций в rast настолько "завуалированы", что нужно вдаваться в биологию). Соответсвенно,  39 функций нашел rast в отличие от моей аннотации и 53 функции есть в моей аннотации, но нет в rast